annotated-types==0.7.0
anyio==4.4.0
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
distlib==0.3.8
fastapi==0.114.2
filelock==3.16.0
h11==0.14.0
identify==2.6.1
idna==3.10
Jinja2==3.1.4
Markdown==3.7
MarkupSafe==2.1.5
mypy==1.11.2
mypy-extensions==1.0.0
nodeenv==1.9.1
platformdirs==4.3.3
pre-commit==3.8.0
pydantic==2.9.1
pydantic_core==2.23.3
PyYAML==6.0.2
requests==2.32.3
sniffio==1.3.1
starlette==0.38.5
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.30.6
virtualenv==20.26.4
